@import '../../../../variables.scss/';

.table{
    border: 1px solid rgb(215, 215, 215);
}

td,tr,th{
    border: 1px solid rgb(215, 215, 215);
    padding: 5px;
}

.card-list-key{
    color:rgb(96, 96, 96);
    font-size: $font-size-base;
    
}

