<div class="">
  <div class="page-title">Company</div>
  <div class="row align-items-center mb-2">
    <div class="col-sm-6">bread / crumbs / will / be / here</div>
    <div class="col-sm-6">
      <button class="btn btn-primary-color float-end" (click)="openModal()">
        Add Company
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <div class="card" *ngFor="let company of companies" >
        <div class="card-header">{{company.name}}</div>
        <div class="card-body">
          <div>
            <button routerLink="/features/company/company-details" [disabled]="!company.factAvailable" class="btn btn-primary-color">
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
