<div class="">
  <div class="page-title">Company Details</div>
  <div class="row align-items-center mb-2">
    <div class="col-sm-6">bread / crumbs / will / be / here</div>
    <div class="col-sm-6">
      <button class="btn btn-primary-color float-end" routerLink="/features/company" >Back</button>
    </div>
  </div>
  <div class="page-sub-title">Company Details</div>

  <mat-tab-group>
  <mat-tab label="Financial Attrbutes">
  <div>
    <app-common-mat-table [data]="data" [displayedColumns]="headers" ></app-common-mat-table>
  </div>
 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>








  
</div>
