<div class="">
  <div class="page-title">Company Details</div>
  <div class="row align-items-center mb-2">
    <div class="col-sm-6">bread / crumbs / will / be / here</div>
    <div class="col-sm-6">
      <button class="btn btn-primary-color float-end" routerLink="/features/company" >Back</button>
    </div>
  </div>
  <div class="page-sub-title">Company Details</div>

  <div style="overflow-x:scroll ;" >
        <app-common-table class="w-100" [data]="data" [headers]="headers" ></app-common-table>
  </div>






  
</div>
