@import '../../../../variables.scss';
.nav-title{

    font-size:$font-size-lg;
    color: $color-fg;
}

.navigation{
    background-color: $color-bg;
    padding: 20px 15px;
    display: flex;

}

.item{
  
    color: $color-white;
    cursor: pointer;
 

}

.item:hover,:active{
    color: $color-fg;
}


