/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'wilson-helvetica';
    src: url('assets/fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }




/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './variables.scss';

  
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: wilson-helvetica !important;
    font-size: $font-size-base;

  }
  
  
  *, *::before, *::after {
    box-sizing: inherit;
  }


  ::placeholder{
    font-size: $font-size-sm;
  }